@import '../../style-guide/index';

.card {
  display: grid;
  grid-gap: 12px;
  height: 88px;
  padding: 12px 16px 16px 16px;
  border: solid 1px map-get($monochrome, medium-tint);
  font-size: 12px;
  line-height: 16px;
  color: map-get($monochrome, default);

  &__methods-type {
    font-family: $semibold-font;
    text-transform: uppercase;
  }

  &__risks-count {
    font-family: $regular-font;
    color: map-get($primary-blue, default);
  }

  &__covered-count {
    font-family: $semibold-font;
    font-size: 16px;
    line-height: 20px;
    color: map-get($monochrome, black);
  }

  &__total-methods {
    font-family: $regular-font;
    font-size: 14px;
    line-height: 20px;
  }

  &__coverage-bar {
    height: 8px;
    margin-top: 4px;
    border-radius: 2px;
    background: map-get($monochrome, light-tint);
  }

  &__progress {
    height: 8px;
    border-radius: 2px;
    background: map-get($data-visualization, dv10);
  }
}
